$primary: rgb(191, 191, 191);

* {
	box-sizing: border-box;
	margin: 0;
}

.congrats {
	animation: pulse 1s infinite;
	width: 100%;
	margin-top: 20rem;
	text-align: center;
	font-size: 5rem;
	color: red;
	@media (max-width: 600px) {
		margin-top: 3rem;
		font-size: 3rem;
	}

	@keyframes pulse {
		0%,
		100% {
			transform: scale(1);
		}

		20%,
		80% {
			transform: scale(1.1);
		}

		40%,
		60% {
			transform: scale(1.2);
		}
	}
}

.info {
	width: 100%;
	background: rgb(191, 191, 191);
	margin: 0 auto;

	&__text {
		padding: 2.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
		font-family: 'Roboto', sans-serif;
		@media (min-width: 2000px) {
			width: 1500px;
		}
		@media (max-width: 600px) {
			display: grid;
			grid-template-areas:
				'title title'
				'moves score';
			grid-row-gap: 1rem;
		}

		&__title {
			display: inline-block;
			text-align: center;
			margin: 0;
			color: white;
			font-family: 'Roboto', sans-serif;
			font-size: 3rem;
			letter-spacing: 2px;
			@media (max-width: 600px) {
				font-size: 2rem;
				grid-area: title;
			}
		}

		&__moves,
		&__score {
			font-size: 2rem;
			font-weight: bold;
			color: gray;
			margin: 0;
			font-family: 'Roboto Mono', monospace;
			@media (max-width: 600px) {
				font-size: 1rem;
			}
		}

		&__moves {
			@media (max-width: 600px) {
				grid-area: moves;
			}
			&__number {
				color: white;
				background: rgba(128, 128, 128, 0.747);
				width: 3.5rem;
				height: 3.5rem;
				display: inline-block;
				text-align: center;
				border-radius: 50%;
				line-height: 3.5rem;
			}
		}

		&__score {
			@media (max-width: 600px) {
				grid-area: score;
			}

			&__number {
				color: white;
				background: rgba(255, 0, 0, 0.247);
				width: 3.5rem;
				height: 3.5rem;
				display: inline-block;
				text-align: center;
				border-radius: 50%;
				font-family: 'Roboto Mono', monospace;
				line-height: 3.5rem;

				&--black {
					animation: fade 0.5s both;
				}

				@keyframes fade {
					0%,
					100% {
						color: white;
						transform: scale(1);
					}

					20%,
					80% {
						color: rgb(61, 61, 61);
						transform: scale(1.1);
					}

					40%,
					60% {
						color: black;
						transform: scale(1.2);
						background: red;
					}
				}
			}
		}
	}
}

.game {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__card {
		margin: 1rem;
		border: 1rem solid rgb(191, 191, 191);
		box-shadow: 2px 2px 2px grey;
		border-radius: 5px;
		display: flex;
		transition: box-shadow 0.2s linear;
		background: rgb(191, 191, 191);
		@media (max-width: 1440px) {
			margin: 0.5rem;
		}
		@media (max-width: 600px) {
			width: 40%;
			height: 40%;
		}

		&__image {
			width: 200px;
			height: 200px;
			@media (min-width: 2000px) {
				width: 300px;
				height: 300px;
			}
			@media (max-width: 1440px) {
				width: 150px;
				height: 150px;
			}
			@media (max-width: 600px) {
				width: 100%;
				height: 100%;
			}

			&--hidden {
				visibility: hidden;
			}
		}

		&:hover {
			box-shadow: 7px 7px 7px grey;
			cursor: pointer;
		}
	}

	.empty-slot {
		margin: 1rem;
		border: 1rem solid transparent;
		box-shadow: none;
		background: transparent;
		cursor: auto;
		@media (max-width: 600px) {
			display: none;
		}

		div {
			width: 200px;
			height: 200px;
			@media (min-width: 2000px) {
				width: 300px;
				height: 300px;
			}
			@media (max-width: 1440px) {
				width: 150px;
				height: 150px;
			}
			@media (max-width: 600px) {
				width: 100%;
			}
		}
	}
}
